<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Cafe 2 XD.</title>
    <link rel="stylesheet" href="./css/index6.css">
</head>
<body>
    <header>
        <img src="./img3/CafeL.jpg" class="CafeL">
        <h1 class="Tt">El Café XD:</h1>
    </header>
    <section>
        <div class="box">
            <h1>4) La Cultivacion del Café:</h1>
            <article>
                <img src="./img3/Cafe4.jpg" class="Cafe4">
                <p class="parrafo1">Las plantaciones clónales de café se obtienen ya sea injertando las plantas de semilla por hendidura en los viveros, o sembrando las plantas por semilla en maceta, o por medio de estacas. Los tres principales elementos para el crecimiento y desarrollo de la planta de café son el carbono, el hidrógeno y el oxígeno, los cuales se obtienen básicamente del agua y de la atmósfera, representando cerca del 95% del peso de la planta. De acuerdo a la forma como se desarrolla la planta de café en Colombia, puede considerarse que el desarrollo vegetativo, es decir, la formación de raíces, ramas, nudos y hojas, comprende tres etapas: germinación a transplante (2 meses), almácigo (5-6 meses) y siembra definitiva a primera floración (11 meses).</p>
                <p class="parrafo2">A libre crecimiento, la planta comienza a producir frutos en ramas de un año de edad, continúa su producción durante varios años y alcanza su máxima productividad entre los 6 y 8 años de edad. La planta puede seguir su actividad por muchos años pero con niveles de productividad bajos.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box2">
            <h1>5) La Producción del Café:</h1>
            <article>
                <img src="./img3/Cafe5.jpg" class="Cafe5">
                <p class="parrafo3">El cultivo del café está culturalmente ligado a la historia y al progreso de muchos países que lo han producido por más de un siglo. Durante el periodo 2012-2013 se produjeron 87 millones de toneladas de café, de los cuales se exportó aproximadamente un 80% por un valor de 50 a 100 millones de dólares, mientras que el valor bruto de la industria total asociada al comercio del café se estima en 173 400 millones de dólares.</p>
                <p class="parrafo4">Actualmente, más de 25 millones de fincas familiares en unos ochenta países cultivan alrededor de 15 000 millones de cafetos, cuya producción termina en los 2250 millones de tazas de café que se consumen a diario. Un café o cafetería es un establecimiento dedicado al consumo de café y algunos alimentos.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box3">
            <h1>6) Lista de los Mejores Granos de Café en el Mundo:</h1>
            <article>
                <img src="./img3/Cafe6.jpg" class="Cafe6">
                <p class="parrafo5">A continuación, los 12 mejores granos de café más recomendados del mundo:</p>
            </article>
        </div>
        <ol>
            <li>Granos de Café Kona de Hawai.</li>
            <li>Granos de Café Blue Mountain de Jamaica.</li>
            <li>Granos de Café de Kenia AA.</li>
            <li>Granos de guisante de Tanzania.</li>
            <li>Granos Sumatra Asados Oscuros de Indonesia.</li>
            <li>Granos de Café Sulawesi Toraja de Indonesia.</li>
            <li>Granos de Café geisha centroamericanos.</li>
            <li>Granos de Café malabar monzones de la India.</li>
            <li>Granos Yirgacheffe De Etiopía.</li>
            <li>Granos de Café Death Wish.</li>
            <li>Café orgánico tostado francés oscuro Wild Jo.</li>
            <li>Café molido Peet’s Coffee.</li>
        </ol>
    </section>
    <section>
        <div class="box4">
            <from>
                <label for="Rango">Rango de Calidad:</label>
                <input type="range">
                <br>
                <br>
                <h1>Comentarios:</h1>
                <textarea name="Comentarios" id="box4" cols="30" rows="10"></textarea>
            </from>
        </div>
    </section>
    <footer>
        <p>@Copyright 2022 Carlos Mirabal</p>
        <br>
        <a href="https://es.wikipedia.org/wiki/Caf%C3%A9" target="blank">Enlace 1</a>
        <br>
        <br>
        <a href="https://agrotendencia.tv/agropedia/el-cultivo-de-cafe/" target="blank">Enlace 2</a>
        <br>
        <br>
        <a href="https://cafemalist.com/mejores-marcas-de-cafe/" target="blank">Enlace 3</a>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index6.js"></script>
</html>