<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Cafe 1 XD.</title>
    <link rel="stylesheet" href="./css/index2.css">
</head>
<body>
    <header>
        <img src="./img3/CafeL.jpg" class="CafeL">
        <h1 class="Tt"> El Café XD:</h1>
    </header>
    <section>
        <div class="box">
            <h1>1) ¿Que es el Café?:</h1>
            <article>
                <img src="./img3/Cafe1.jpg" class="Cafe1">
                <p class="parrafo1">El Café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café (cafeto); es altamente estimulante por su contenido de cafeína, una sustancia psicoactiva. Este producto es uno de los más comercializados del mundo y una de las tres bebidas más consumidas del mundo (junto con el agua y el té). Suele tomarse durante el desayuno, después de este o incluso como único desayuno, aunque también se suele tomar en la merienda, o después del almuerzo o cena para entablar conversaciones o solo por costumbre. Es una de las bebidas sin alcohol más socializadoras en muchos países. El gusto por el café no es espontáneo, sino que debe cultivarse, puesto que su sabor es fuerte y amargo.</p>
                <p class="parrafo2">Las formas más populares de tomarlo son negro o solo y con leche (con o sin azúcar); también se le suele añadir crema o nata, leche condensada, chocolate o algún licor, es decir, dependiendo de la receta hay diversas formas de prepararlo. Se sirve habitualmente caliente, pero también se toma frío o con hielo. En España, Portugal y Paraguay es frecuente el consumo de café torrado o torrefacto, es decir, tostado en presencia de azúcar.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box2">
            <h1>2) Historia del Café (Resumida):</h1>
            <article>
                <img src="./img3/Cafe2.jpg" class="Cafe2">
                <p class="parrafo3">La historia del café se remonta al siglo XIII, aunque el origen del café sigue sin esclarecerse. Se cree que los ancestros etíopes del actual pueblo oromo fueron los primeros en descubrir y reconocer el efecto energizante de los granos de la planta del café; sin embargo, no se ha hallado evidencia directa que indique en qué parte de África crecía o qué nativos lo habrían usado como un estimulante o incluso conocieran su existencia antes del siglo XVII.</p>
                <p class="parrafo4">La historia de Kaldi, un criador de cabras etíope del siglo IX que habría descubierto el café, no apareció escrita hasta 1671 y es probablemente apócrifa. Se cree que, desde Etiopía, el café fue propagado a Egipto y Yemen.</p>
                <p class="parrafo5">La evidencia creíble más temprana de cualquier bebida de café o conocimiento del árbol del café aparece a mediados del siglo XV, en los monasterios sufi de Yemen. Fue allí, en Arabia, donde los granos de café fueron tostados y molidos por primera vez con sal en una forma similar a como son preparados en la actualidad. Para el siglo XVI, se había expandido por el resto del Medio Oriente, Persia, Turquía y África del Norte. Luego, el café se extendió a Italia y el resto de Europa hasta Indonesia y el continente americano.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box3">
            <h1>3) El Café de Venezuela:</h1>
            <article>
                <img src="./img3/Cafe3.jpg" class="Cafe3">
                <p class="parrafo6">Cien años atrás, Venezuela ocupó uno de los lugares más relevantes en el ranking de producción y exportación de café a nivel mundial. La irrupción de la industria petrolera en el país propició, sin embargo, un rápido y progresivo declive de este cultivo que, ahora, una nueva generación de caficultores intenta recuperar. El café sigue siendo un cultivo de importancia social y cultural en Venezuela, pero su peso económico ha dejado de ser el que era. Se estima que actualmente más de 50.000 familias viven de forma directa de su producción en el país.El primer cafeto que llegó a Venezuela fue sembrado por misioneros españoles asentados en la cuenca del río Caroní, en 1730. Una década después partir de 1740 el cultivo de café empezó a propagarse a la gobernación de Caracas y, al resto del país. </p>
                <p class="parrafo7">En la última década se ha constatado una creciente incursión de jóvenes profesionales tanto en el sector productivo como en el de la industrialización artesanal y comercialización de café. Sin embargo, la gran mayoría de los productores actuales de café, no culminó su educación básica, y por ende, son poco innovadores y reacios a los cambios de tecnologías en materia de manejo agronómico, fertilización y buenas prácticas de postcosecha.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box4">
            <from>
                <li><a href="/pagina3">Pagina 3.</a></li>
                <br>
                <br>
                <label for="fecha">Fecha y Hora:</label>
                <input type="datetime-local">
                <br>
                <br>
                <h1>Comentarios:</h1>
                <textarea name="Comentarios" id="box4" cols="30" rows="10"></textarea>
            </from>
        </div>
    </section>
    <footer>
        <br>
        <br>
        <br>
        <p>@Copyright 2022 Carlos Mirabal</p>
        <br>
        <br>
        <a href="https://es.wikipedia.org/wiki/Caf%C3%A9" target="blank">Enlace 1</a>
        <br>
        <br>
        <a href="https://es.wikipedia.org/wiki/Historia_del_caf%C3%A9" target="blank">Enlace 2</a>
        <br>
        <br>
        <a href="http://www.forumdelcafe.com/noticias/cafe-venezuela" target="blank">Enlace 3</a>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index2.js"></script>
</html>