<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Pan 1 XD.</title>
    <link rel="stylesheet" href="./css/index3.css">
</head>
<body>
    <header>
        <img src="./img2/PanL.jpg" class="PanL">
        <h1 class="Tt">El Pan XD:</h1>
    </header>
    <section>
        <div class="box">
            <h1>1) ¿Que es el Pan?:</h1>
            <article>
                <img src="./img2/Pan1.jpg" class="Pan1">
                <p class="parrafo1">El pan, del latín panis, es un alimento básico que forma parte de la dieta tradicional en Europa, Medio Oriente, India, América y Oceanía. Se suele preparar mediante el horneado de una masa, elaborada fundamentalmente con harina de cereal, agua y sal. La mezcla, en la mayoría de las ocasiones, suele contener levaduras para que fermente la masa y sea más esponjosa y tierna.Alimento básico que se elabora con una mezcla de harina, generalmente de trigo, agua, sal y levadura, que se amasa y se cuece en un horno en piezas de distintas formas y tamaños; su sabor, color y textura pueden variar según el tipo de harina empleado y los ingredientes secundarios añadidos, como leche, mantequilla, frutos secos, etc.</p>
                <p class="parrafo2">El cereal más utilizado para la elaboración del pan es la harina de trigo, aunque también se utiliza el centeno, la cebada, el maíz y el arroz. La adición de la levadura provoca la fermentación de la masa antes del horneado, y como consecuencia, le proporciona un volumen y una esponjosidad debido a la producción de pequeñas burbujas de dióxido de carbono (CO2) que se quedan inmersas entre la masa húmeda de la harina.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box2">
            <h1>2) Historia del Pan (Resumida):</h1>
            <article>
                <img src="./img2/Pan2.jpg" class="Pan2">
                <p class="parrafo3">El pan ha sido tan importante en la alimentación humana que se considera como sinónimo de alimento en muchas culturas. Asimismo, participa en muchos rituales religiosos y sociales, como por ejemplo el matzoh, en la pascua judía; la hostia, en la eucaristía cristiana, y el rito de bienvenida de los pueblos eslavos, que involucra el pan y la sal.</p>
                <p class="parrafo4">Antiguamente, en las zonas rurales, el pan era elaborado en los núcleos familiares y poco a poco el establecimiento para dispensar el pan, la panadería, ha ido cobrando importancia en las zonas urbanas. Hoy en día existen electrodomésticos específicos con los que se puede elaborar pan de molde muy sencilla, por ejemplo con una máquina panificadora. </p>
                <p class="parrafo5">En la actualidad, el pan es uno de los alimentos básicos que puede encontrarse en casi cualquier tienda de alimentación y grandes superficies. Su valor hace que se puedan calcular índices económicos de referencia, como el índice de precios al consumo —o IPC—, empleado para determinar la evolución del costo de vida en las naciones.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box3">
            <h1>3) Ingredientes Variados:</h1>
            <article>
                <img src="./img2/Pan3.jpg" class="Pan3">
                <p class="parrafo6">Existen muchos tipos de pan que pueden contener otros ingredientes, como grasas de diferentes tipos —aceite, mantequilla, tocino de cerdo o de vaca—, huevos, azúcar, especias, frutas, frutas secas —como por ejemplo pasas—, verduras como la cebolla y el ajo, o semillas diversas. A la masa se le pueden dar diferentes formas, debido al empleo de diversos moldes y técnicas de amasado. De esta forma existen: las barras, las trenzas, los aros, etcétera. Al pan elaborado sin el empleo de levadura se le llama pan ácimo y, debido a esa falta de levadura, carece de la esponjosidad típica de los panes «hinchados» o «levados».</p>
                <p class="parrafo7">Es muy posible que las elaboraciones más primitivas de pan no llevaran levadura, y la harina consistiese en granos toscamente molidos mezclados con agua que se dejaban secar al sol o que acababan entre las cenizas de un fuego. Los panes planos, muy populares en algunas culturas, es muy posible que sean los más antiguos. Una variante del pan con denominación propia, son las galletas y los pasteles, que poseen diferentes masas azucaradas. Es muy posible que surgieran del conocimiento panadero como una necesidad de hacer panes «más portables» y nutritivos.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box4">
            <from>
                <li><a href="/register">Registrarse.</a></li>
                <br>
                <br>
                <label for="fecha">Fecha y Hora:</label>
                <input type="datetime-local">
                <br>
                <br>
                <h1>Comentarios:</h1>
                <textarea name="Comentarios" id="box4" cols="30" rows="10"></textarea>
            </from>
        </div>
    </section>
    <footer>
        <br>
        <br>
        <br>
        <p>@Copyright 2022 Carlos Mirabal</p>
        <br>
        <br>
        <a href="https://es.wikipedia.org/wiki/Pan" target="_blank">Enlace 1</a>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index3.js"></script>
</html>