<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Pan 2 XD.</title>
    <link rel="stylesheet" href="./css/index7.css">
</head>
<body>
    <header>
        <img src="./img2/PanL.jpg" class="PanL">
        <h1 class="Tt">El Pan XD:</h1>
    </header>
    <section>
        <div class="box">
            <h1>4) La Preparación del Pan:</h1>
            <article>
                <img src="./img2/Pan4.jpg" class="Pan4">
                <p class="parrafo1">Las etapas utilizadas en el proceso de elaboración tradicional de pan son: amasado, división, boleado, formado, fermentación, reposo y horneado. Amasado: Se trata de mezclar de forma homogénea los ingredientes básicos(agua, harina, sal y levadura) hasta formar una masa flexible y elástica. Reposo 1ª fermentación: Se deja la masa un tiempo hasta doblar su volumen. División: Consiste en pesar y cortar la masa en partes homogéneas. 2ª Fermentación: La masa se deja reposar de nuevo hasta doblar el volumen. Cocción - horneado: La masa continúa inflándose hasta que se alcanzan los 55º C. Internamente se forma la miga y a medida que aumenta la temperatura, la corteza se endurece y adquiere un tono dorado.</p>
                <p class="parrafo2">No existe un sólo método de panificación, varía en función del tipo de pan, las características del obrador y de las materias primas a utilizar. Las  etapas más comunes son: Amasado, fermentación y 1ª cocción, Enfriamiento y congelación, Almacenamiento y transporte, 2ª Cocción-horneado.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box2">
            <h1>5) Simbolismo del Pan en la Sociedad:</h1>
            <article>
                <img src="./img2/Pan5.jpg" class="Pan5">
                <p class="parrafo3">La agricultura de los cereales, debido a su importancia en el bienestar de los pueblos sedentarios, alcanzó carácter sagrado desde la antigüedad. Una gran cantidad de dioses ejercían sus influencias beneficiosas ó perniciosas sobre la evolución climática de las estaciones. Los Egipcios dieron a Nerpri rango de Dios del trigo, los Fenicios rendían culto a Mot, espíritu del grano. En la mitología griega Deméter era protectora del cultivo, respetaod por Ceres en Roma.</p>
                <p class="parrafo4">En el antiguo Egipto, el pan fruto de los cereales, amparaba creencias muy complejas. A su alrededor oscilaban nociones de procreación y fecundidad. La levadura era germen a la vez que semilla, el semen vital. La masa, cándida e inerte, se convulsionaba en todo su ser para dar lugar al pan levantado.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box3">
            <h1>6) Lista de los Mejores Panes en el Mundo:</h1>
            <article>
                <img src="./img2/Pan6.jpg" class="Pan6">
                <p class="parrafo5">A continuación, los 12 mejores panes más recomendados del mundo:</p>
            </article>
        </div>
        <ol>
            <li>Pan Trensado Dulce</li>
            <li>Bolani, Afghanistan</li>
            <li>Pan de mantequilla</li>
            <li>Lavash, Armenia</li>
            <li>Pan de Leche</li>
            <li>Pan Damper, Australia</li>
            <li>Pan Español</li>
            <li>Luchi, Bangladesh</li>
            <li>Pan Frances</li>
            <li>Pão de queijo, Brazil</li>
            <li>Pan Canilla</li>
            <li>Bagels de Montreal, Canadá</li>
        </ol>
    </section>
    <section>
        <div class="box4">
            <from>
                <label for="Rango">Rango de Calidad:</label>
                <input type="range">
                <br>
                <br>
                <h1>Comentarios:</h1>
                <textarea name="Comentarios" id="box4" cols="30" rows="10"></textarea>
            </from>
        </div>
    </section>
    <footer>
        <p>@Copyright 2022 Carlos Mirabal</p>
        <br>
        <a href="https://www.alimentosdespana.es/es/estrategia-alimentos-espana/gastronomia/bloc/pan/detalle/proceso-de-elaboracion.aspx" target="blank">Enlace 1</a>
        <br>
        <br>
        <a href="http://www.uco.es/ayc/mono/pan.htm" target="blank">Enlace 2</a>
        <br>
        <br>
        <a href="https://www.visitajordania.com/50-de-los-mejores-panes-del-mundo-parte-i/" target="blank">Enlace 3</a>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index7.js"></script>
</html>