<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Tienda-Gon XD.</title>
    <link rel="stylesheet" href="./css/index1.css">
</head>
<body>
    <header>
        <img src="./img1/timL.jpg" class="timL">
        <h1 class="Tt">El Tienda-Gon:</h1>
    </header>
    <section>
        <div class="box">
            <h1>1) ¿Que es una Tienda?:</h1>
            <article>
                <img src="./img1/tim1.jpg" class="tim1">
                <p class="parrafo1">La palabra tienda implica un establecimiento pequeño con atención directa por parte de un vendedor o dependiente; también presupone la existencia de un mostrador o mesa que separa la sala de ventas de los artículos en venta. Esta forma de comercio es opuesta al comercio en régimen de libre servicio, donde el consumidor se acerca a los artículos, los elige y los lleva hasta la línea de cajas registradoras para pagar su compra. Los bodegones son tiendas que venden productos importados a altos precios en Venezuela. Inalcanzables para la mayoría de la población. Una de las muestras más visibles de la nueva economía en Venezuela es la proliferación de tiendas que venden productos de lujo.</p>
                <p class="parrafo2">Una tienda o negocio es un tipo de establecimiento comercial, físico o virtual, donde el comprador puede adquirir tanto bienes como servicios a cambio de dinero, es decir establecimiento en el que se vende cualquier tipo de producto de consumo. Armazón de palos o tubos cubierto con una gran pieza de tela, lona u otro material que se sujeta al suelo mediante clavos o ganchos y que sirve de alojamiento al aire libre o tambien puede ser un establecimiento alquilado.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box2">
            <h1>2) Historia del Comercio XD (Resumida):</h1>
            <article>
                <img src="./img1/tim2.jpg" class="tim2">
                <p class="parrafo3">La palabra tienda viene del latín tenda y este de tendere, el mismo verbo que nos dio: tender, tendero, atender, entender, entente, extender, contender, contienda, y muchas otras palabras. En los tiempos antiguos, el comercio se inició como un sistema de trueque, en el que se intercambiaba una cosa por otra.</p>
                <p class="parrafo4">Mientras los fundamentos del comercio no han cambiado desde los tiempos prehistóricos, durante el último siglo se ha producido una gran transformación. En un momento, todo negocio era una pequeña empresa, en la que los comerciantes vendían artículos a los residentes locales o a otros negocios (imagínate la tienda general de un pueblo pequeño en los primeros años del siglo 1900).</p>
                <p class="parrafo5">El mayor cambio que está transformando el comercio en la actualidad es el comercio on line móvil. Según comScore, en 2014 se produjo un punto de inflexión, y la mayoría de las interacciones con los sitios web del comercio minorista ahora ocurre en los equipos móviles. Esto no significa que la mayoría de tus clientes ya están comprando a través de los equipos móviles todavía pero sí indica que están investigando, buscando y comparando precios desde el móvil.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box3">
            <h1>3) Lo mas importante de la Historia:</h1>
            <article>
                <img src="./img1/tim3.jpg" class="tim3">
                <p class="parrafo6">Pero el surgimiento de las grandes corporaciones llevó al establecimiento de las cadenas de tiendas y los grandes almacenes. A mediados de 1990, Amazon y eBay cambiaron la cara del comercio electrónico en los Estados Unidos. La capacidad de buscar libros a base a distintos criterios, de recibir recomendaciones personalizadas y de dejar críticas de las compras ayudó a la popularización de Amazon entre los consumidores. Mientras tanto, eBay dio a las personas la posibilidad de abrir sus propias tiendas en línea de manera sencilla y segura. El colapso de la burbuja digital o de las “punto com” en el 2000 disminuyó el entusiasmo por el comercio en línea durante un tiempo.</p>
                <p class="parrafo7">Sitios como Pets.com habían apostado demasiado al deseo de los estadounidenses de comprar todo en línea. Pero el mundo del comercio nunca volvería a ser lo que era antes. En 2004, se formó el Consejo de Normas de Seguridad para las Tarjetas de Pago (“PCI” por su sigla en inglés) para asegurar que los negocios en línea cumplieran con los requerimientos de seguridad para las transacciones financieras. Esta seguridad adicional ayudó a hacer más atractivo comprar en línea incluso para los que anteriormente le temían.</p>
            </article>
        </div>
    </section>
    <section>
        <div class="box4">
            <form>
                <li><a href="/pagina2">Pagina 2.</a></li>
                <br>
                <br>
                <label for="fecha">Fecha y Hora:</label>
                <input type="datetime-local">
                <br>
                <br>
                <h1>Comentarios:</h1>
                <textarea name="Comentarios" id="box4" cols="30" rows="10"></textarea>
            </form>
        </div>
    </section>
    <footer>
        <br>
        <br>
        <br>
        <p>@Copyright 2022 Carlos Mirabal</p>
        <br>
        <br>
        <a href="https://es.wikipedia.org/wiki/Tienda" target="_blank">Enlace 1</a>
        <br>
        <br>
        <a href="https://connectamericas.com/es/content/la-evoluci%C3%B3n-del-comercio" target="_blank">Enlace 2</a>
        <br>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index1.js"></script>
</html>